<body>
    <!--- search item-->
    <div>
        <div>
            <h2>{{search_input}}</h2>    
            <h3>{{ search_input_description }}</h3>
        </div>
        <div>
            <button class="save">Save</button>
        </div>
    </div>
<!--- related search results-->
    <div>
        <div class="related">
            <p>{{ related_item_1 }} </p>
        </div>
        <div class="related">
            <p>{{ related_item_2 }} </p>
        </div>
        <div class="related">
            <p>{{ related_item_3 }} </p>
        </div>
    </div>
    <div class="genres">
        <p>{{ genres }}</p>
    </div>
</body>
